<body id="homepage"><br>
    <div class="main_text center-align">
        <a href="/movies" id="start" class="link waves-effect waves-light btn large red darken-3">Start Renting</a>
    </div><br>
</body>
