<!DOCTYPE html>
<html>
  <head>
    <title>Stream</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
    <nav>
    <div class="nav-wrapper red darken-4">
      <a href="/"class="brand-logo left"><img class="stream_logo" src="/images/stream_logo.png"></a>
      <ul id="nav-mobile" class="main_text right">
        <li><a href="/movies">Movies</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="#">Sign Up</a></li>
      </ul>
    </div>
  </nav>
  </head>
  <body class="grey darken-8">

    {{{body}}}

  </body>
  <footer class="page-footer grey darken-3">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="title_text white-text">Project Info</h5>
                <p class="main_text grey-text text-lighten-4">This is the second project of the Web Development course made by Skylar Youmans.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="title_text white-text">Project Links</h5>
                <ul class="main_text">
                  <li><a class="grey-text text-lighten-3" href="https://github.com/Skyoumans/ProjectTwo_Stream">GitHub</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://trello.com/b/xDPNQsHK/wdi-project-2-stream">Trello</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://gomockingbird.com/projects/sbmvxi9/4gXVnC">MockingBird</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://skylarsportfolio.bitballoon.com/">Developer's Portfolio</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="main_text container">
            © 2017
            </div>
          </div>
        </footer>
</html>
