body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.max {
  max-height: 430px;
}

.maxMovies {
  max-height: 400px;
  max-width: 312.5px;
}

.stream_logo {
  margin: -70px;
  padding-left: 60px;
}