<div>
    <h2 class="title_text center-align">Movies</h2>
    <div class="row">
    {{#each movies}}
        <div class="col s12 m6 l3">
            <div class="card hoverable">
                <div class="card-image">
                    <img class="maxMovies" src="{{this.poster}}">
                    <a href="#" class="btn-floating halfway-fab waves-effect waves-light red darken-3"><i class="material-icons">add</i></a>
                </div>
                <div>
                    <span class="main_text card-title"><strong>{{this.title}}</strong></span>
                </div>
                <div class="main_text card-content">
                    <p>Rental Price: ${{this.rentalPrice}}</p>
                </div>
                <div class="main_text card-action">
                    <a href="movies/{{this._id}}">View more Info</a>
                </div>
            </div>
        </div>
    {{/each}}
    </div>
</div>

