<div>
    <div>
        <a href="/users/new"><button class="btn right waves-effect waves-light red darken-3" type="text" name="action">Add A New User
            <i class="material-icons left">add</i>
        </button></a>
        <h1 class="title_text">User Profiles</h1>
    </div>
    <div class="row">
    {{#each users}}
        <div class='col s12 m5 l3'>
            <div class="card">
                <div class="card-image">
                    <img src="{{this.image}}">
                    <span class="main_text card-title red darken-3">{{this.username}}</span>
                </div>
                <div class="main_text card-content">
                    <p>Stream Status: {{this.status}}</p>
                </div>
                <div class="main_text card-action">
                    <a href="/users/{{this._id}}">View User Info</a>
                </div>
            </div>
        </div>  
{{/each}}
   </div>
</div>   
