<div>
    <h1 class="title_text">New User</h1>
    <form class="col s12" action="/users" method="POST">
        <div class="main_text row">
            <div class="input-field col s6">
                <input name="name"placeholder="Name"  id="name" type="text" class="validate">
                <label for="name"></label>
            </div>
            <div class="input-field col s6">
                <input name="username" placeholder="User Name"  id="username" type="text" class="validate">
                <label for="username"></label>
            </div>
            <div class="input-field col s6">
                <input name="password" placeholder="Password"  id="password" type="password" class="validate">
                <label for="password"></label>
            </div>
            <div class="input-field col s6">
                <input name="favoriteMovie" placeholder="Favorite Movie"  id="favoriteMovie" type="text" class="validate">
                <label for="favoriteMovie"></label>
            </div>
            <div class="input-field col s6">
                <input name="status" placeholder="Stream Status"  id="status" type="text" class="validate">
                <label for="status"></label>
            </div>
            <div class="input-field col s6">
                <input name="image" placeholder="Profile Picture"  id="image" type="text" class="validate">
                <label for="image"></label>
            </div>
            <div class="input-field col s6">
                <input name="bio" placeholder="Tell Us About Yourself"  id="bio" type="text" class="validate">
                <label for="bio"></label>
            </div>
            <button class="btn right waves-effect waves-light red" type="submit">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>