<div>
    <h1>New User</h1>
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Name"  id="name" type="text" class="validate">
                <label for="name">Name</label>
            </div>
            <div class="input-field col s6">
                <input placeholder="Name"  id="name" type="text" class="validate">
                <label for="name">Name</label>
            </div>
            <div class="input-field col s6">
                <input placeholder="Name"  id="name" type="text" class="validate">
                <label for="name">Name</label>
            </div>
            <div class="input-field col s6">
                <input placeholder="Name"  id="name" type="text" class="validate">
                <label for="name">Name</label>
            </div>
            <div class="input-field col s6">
                <input placeholder="Stream Status"  id="status" type="text" class="validate">
                <label for="status">Stream Status</label>
            </div>
            <div class="input-field col s6">
                <input placeholder="Profile Picture"  id="image" type="text" class="validate">
                <label for="image">Profile Picture URL</label>
            </div>
            <div class="input-field col s6">
                <input placeholder="About You"  id="bio" type="text" class="validate">
                <label for="bio">Tell us about yourself</label>
            </div>
        </div>
    </form>
</div>